# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
pnpm-lock.yaml

# envs
.env
.env.*
.env*.local
web/.env.local
api/.env

# testing
/coverage

# next.js
web/.next
web/out

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# Strapi SQLite + caches
api/.tmp/
api/.cache/
api/public/uploads/
api/database/*.db
api/node_modules